@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(145deg, #121212, #1e1e2f);
  color: #fff;
  position: relative;
  overflow-x: hidden;
}

body::before,
body::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  z-index: -1;
}

body::before {
  width: 600px;
  height: 400px;
  background: radial-gradient(circle, rgba(94, 0, 94, 0.8), transparent);
  top: -100px;
  left: -100px;
}

body::after {
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(94, 0, 94, 0.8), transparent);
  bottom: 200px;
  right: 300px;
}

/* Additional decorative circles */
body::after,
body::before {
  animation: move 10s infinite alternate;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 40px; /* Zvýšení odsazení mezi tlačítky na větší hodnotu */
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #9700d3; /* Zvýraznění barvy při hoveru */
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
}

nav a:hover {
  color: #7e009e;
}

section {
  padding: 2rem 2rem;
  padding-bottom: 0;
  text-align: center;
}

.intro {
  margin-top: 80px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 800px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.project-card {
  display: block; /* Zajistí, že odkaz pokryje celou kartu */
  text-decoration: none; /* Odstranění podtržení odkazu */
  color: inherit; /* Zachování barvy textu */
  flex: 0 0 calc(30% - 1rem); /* Zajistí, že tři karty budou viditelné a kousek další */
  max-width: calc(30% - 1rem); /* Zajistí správnou šířku */
  background: rgba(255, 255, 255, 0.1); /* Průhledné pozadí */
  backdrop-filter: blur(15px); /* Rozmazání pozadí */
  border-radius: 15px; /* Zaoblené rohy */
  padding: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); /* Jemný stín */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Jemné ohraničení */
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05); /* Zvýraznění při najetí myší */
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3); /* Zvýrazněný stín při najetí */
}

.project-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px; /* Zaoblené rohy obrázku */
  margin-bottom: 1rem;
}

.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project-card p {
  font-size: 1rem;
  color: #ccc;
}

form label {
  display: block;
  text-align: left;
  margin-bottom: -20px;
  margin-left: 10px;
}

form input,
form textarea,
form button {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 5px;
}

form input {
  padding-top: 1rem;
}

form input:focus-visible {
  outline: none;
}

form textarea {
  padding-top: 1rem;
}

form textarea:focus-visible {
  outline: none;
}

form button {
  background: #5a0063;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background: #48005a;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

input::placeholder,
textarea::placeholder {
  color: #cccccc;
}

button {
  background-color: #8000a7;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #440055;
}

#about {
  padding: 2rem 2rem;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.about-text {
  flex: 1;
  min-width: 300px;
  color: #fff;
  text-align: left;
}

.about-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about-text p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
}

#projects {
  padding: 2rem 2rem;
  padding-bottom: 0;
  text-align: center;
}

.projects-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.projects-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px; /* Šířka gradientového efektu */
  z-index: 1;
  pointer-events: none;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(30, 30, 47, 1),
    rgba(30, 30, 47, 0)
  );
  opacity: 0; /* Skrytí gradientu na levé straně */
  transition: opacity 0.3s ease; /* Přidání přechodu pro zobrazení/skrývání */
  margin: 30px 0 30px 0;
}

.projects-container.show-left-gradient::before {
  opacity: 1; /* Zobrazení gradientu na levé straně */
}

.projects-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px; /* Šířka gradientového efektu */
  z-index: 1;
  pointer-events: none;
  right: 0;
  background: linear-gradient(
    to left,
    rgba(30, 30, 47, 1),
    rgba(30, 30, 47, 0)
  );
  opacity: 0; /* Skrytí gradientu na pravé straně */
  transition: opacity 0.3s ease; /* Přidání přechodu pro zobrazení/skrývání */
  margin: 30px 0 30px 0;
}

.projects-container.show-right-gradient::after {
  opacity: 1; /* Zobrazení gradientu na pravé straně */
}

.projects-slider {
  display: flex;
  gap: 1.5rem; /* Menší mezera mezi kartami */
  transition: transform 0.5s ease-in-out; /* Hladký přechod při posouvání */
  will-change: transform;
  padding: 0 4rem; /* Přidání odsazení na obou stranách */
}

.arrow {
  position: absolute;
  top: 0; /* Zarovnání tlačítka na vrchol */
  bottom: 0; /* Roztažení tlačítka na celou výšku */
  width: 50px; /* Šířka tlačítka */
  background: none; /* Odstranění pozadí */
  border: none; /* Odstranění okrajů */
  color: #ffffff; /* Barva šipky */
  font-size: 2.5rem; /* Velikost šipky */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.3s ease; /* Jemný zvětšovací efekt */
}

.arrow:hover {
  transform: scale(1.2); /* Jemné zvětšení při najetí myší */
  background: none; /* Zajištění, že pozadí zůstane nezměněné */
}

.left-arrow {
  left: 0; /* Zarovnání tlačítka doleva */
}

.right-arrow {
  right: 0; /* Zarovnání tlačítka doprava */
}
